<% include ./partials/header %>

<h1>WELCOME TO THE NEW REVIEW PAGE</h1>

<div class="container">
    <div class="row">
       <h1 style="text-align: center;">Create a new Review for: <%=field.abbreviation%> <%= course.number%></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/fields/<%=field._id%>/<%=course._id%>" method = "POST">
                <div class="form-group">
                    <input class = "form-control" type="text" name="comment[professor]" placeholder="Professor">                    
                </div>
                <div class="form-group">
                    <input class = "form-control" type="text" name="comment[year]" placeholder="Year">                    
                </div>
                <div class="form-group">
                    <!--<input class = "form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">                    -->
                    <select required class="form-control" type="number" name ="comment[difficulty]" placeholder="difficulty">
                        <option selected disabled value ="">Course Difficulty</option>
                        <% for(var i = 0; i < 11; i++){ %>
                        <option><%=i%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <!--<input class = "form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">                    -->
                    <select required class="form-control" type="number" name ="comment[workload]" placeholder="workload">
                        <option selected disabled value ="">Course Workload</option>
                        <% for(var i = 0; i < 11; i++){ %>
                        <option><%=i%></option>
                        <% } %>
                    </select>
                </div>                
                <!--<div class="form-group">-->
                <!--    <input class = "form-control" type="text" name="comment[difficulty]" placeholder="Difficulty">                    -->
                <!--</div>-->
                <div class="form-group">
                    <input class = "form-control" type="text" name="comment[material]" placeholder="Course Material">                    
                </div>
                <div class="form-group">
                    <input class = "form-control" type="text" name="comment[other]" placeholder="Other">                    
                </div>                

                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>                    
            </form>
        </div>
    </div>
</div>
<a class = "btn btn-lg btn-success" href = "/">Go back to the Home Page</a>

<% include ./partials/footer %>