<% include ./partials/header %>

<div class="container">

    <!--Jumbotron for the TITLE-->
    <div class="jumbotron">
        <h1><%= field.abbreviation%> <%=course.number%>: <%=course.name%></h1>
        <p>Read reviews by former students</p>
        <p>Leave a review for future students</p>
    </div>

    <div class="row">
        <div class ="col-md-3">
            <p class ="lead"><%=field.abbreviation%> <%=course.number%></p>
            <li class="list-group-item" id="difficulty">Difficulty</li>
            <li class="list-group-item" id="workload">Workload</li>
        </div>
        
        <div class="col-md-9">
            <div class="well">
                <div class ="text-right">
                    <a class="btn btn-success btn-lg" href="/fields/<%=field._id%>/<%=course._id%>/new">Add Review</a>
                </div>
                <% var count = 0;%>
                <% var difficulty = 0;%>
                <% var workload = 0;%>
                <% course.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Professor: </strong><%= comment.professor%></p>
                            <% count ++%>
                            <p><strong>Year: </strong><%= comment.year%></p>
                            <p><strong>Difficulty: </strong><%= comment.difficulty%>/10</p>
                            <% difficulty += comment.difficulty%>
                            <p><strong>Workload: </strong><%= comment.workload%>/10</p>
                            <% workload += comment.workload%>
                            <p><strong>Course Material: </strong><%= comment.material%></p>
                            <p><strong>Other: </strong><%= comment.other%></p>
                            <p><em>Submitted by: <%= comment.author.username %></em></P>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                <a class="btn btn-warning btn-xs" href="/fields/<%=field._id%>/<%=course._id%>/<%=comment._id%>/edit">Edit</a> 
                                <form id="delete-form" action="/fields/<%=field._id%>/<%=course._id%>/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>                            
                            <% }; %>
                            <hr>
                        </div>
                    </div>
                <% }); %>
                <script>
                    var difficult = document.getElementById("difficulty");
                    difficult.textContent = "Difficulty: " + <%=(difficulty/count).toFixed(2)%>;
                    var work = document.getElementById("workload");
                    work.textContent = "Workload: " + <%=(workload/count).toFixed(2)%>;
                </script>
            </div>
        </div>
    
    </div>
    
</div>

<% include ./partials/footer %>